In [24]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [27]:
# 1. Load and preprocess the data
df = pd.read_excel("data/data.xlsx")

In [29]:
df['Total Charges'] = pd.to_numeric(df['Total Charges'], errors='coerce')

non_numeric_rows = df[df['Total Charges'].isna()]

non_numeric_rows[['CustomerID', 'Total Charges']]

      CustomerID  Total Charges
2234  4472-LVYGI            NaN
2438  3115-CZMZD            NaN
2568  5709-LVOEQ            NaN
2667  4367-NUYAO            NaN
2856  1371-DWPAZ            NaN
4331  7644-OMVMY            NaN
4687  3213-VVOLG            NaN
5104  2520-SGTTA            NaN
5719  2923-ARZLG            NaN
6772  4075-WKNIU            NaN
6840  2775-SEFEE            NaN

In [31]:
df['Total Charges'].dtype

dtype('float64')

In [33]:
df['Total Charges'] = df['Total Charges'].fillna(df['Total Charges'].median())

In [35]:
df.nunique()

CustomerID           7043
Count                   1
Country                 1
State                   1
City                 1129
Zip Code             1652
Lat Long             1652
Latitude             1652
Longitude            1651
Gender                  2
Senior Citizen          2
Partner                 2
Dependents              2
Tenure Months          73
Phone Service           2
Multiple Lines          3
Internet Service        3
Online Security         3
Online Backup           3
Device Protection       3
Tech Support            3
Streaming TV            3
Streaming Movies        3
Contract                3
Paperless Billing       2
Payment Method          4
Monthly Charges      1585
Total Charges        6531
Churn Label             2
Churn Value             2
Churn Score            85
CLTV                 3438
Churn Reason           20
dtype: int64

In [37]:
df['Payment Method'].unique()

array(['Mailed check', 'Electronic check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [39]:
# dropping Churn Label since we already have Churn Value
df.drop('Churn Label', axis=1, inplace=True)

KeyError: "['Churn Label'] not found in axis"

In [40]:
binary_cols = ['Gender', 'Senior Citizen', 'Partner', 'Dependents', 
               'Phone Service', 'Paperless Billing']


label_encoder = LabelEncoder()
for col in binary_cols:
    df[col] = label_encoder.fit_transform(df[col])
    
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,1,...,No,Month-to-month,1,Mailed check,53.85,108.15,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,0,...,No,Month-to-month,1,Electronic check,70.70,151.65,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,0,...,Yes,Month-to-month,1,Electronic check,99.65,820.50,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,0,...,Yes,Month-to-month,1,Electronic check,104.80,3046.05,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,1,...,Yes,Month-to-month,1,Bank transfer (automatic),103.70,5036.30,1,89,5340,Competitor had better devices

In [41]:
df.drop('Churn Reason', axis=1, inplace=True)

non_ordinal_cols = ['Multiple Lines', 'Internet Service', 'Payment Method',
                'Online Security', 'Online Backup', 'Device Protection', 
                'Tech Support', 'Streaming TV', 'Streaming Movies', 'Contract']

df = pd.get_dummies(df, columns=non_ordinal_cols, drop_first=True)

In [42]:
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Device Protection_No internet service,Device Protection_Yes,Tech Support_No internet service,Tech Support_Yes,Streaming TV_No internet service,Streaming TV_Yes,Streaming Movies_No internet service,Streaming Movies_Yes,Contract_One year,Contract_Two year
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,1,...,False,False,False,False,False,False,False,False,False,False
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,0,...,False,False,False,False,False,False,False,False,False,False
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,0,...,False,True,False,False,False,True,False,True,False,False
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,0,...,False,True,False,True,False,True,False,True,False,False
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,1,...,False,True,False,False,False,True,False,True,False,False

In [43]:
high_cardinality_cols = ['City', 'State', 'Country']

for col in high_cardinality_cols:
    freq_encoding = df[col].value_counts() / len(df)
    df[col] = df[col].map(freq_encoding)

In [44]:
df = df.drop(columns=['CustomerID', 'Lat Long', 'Latitude', 'Longitude', 'Zip Code'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 37 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Count                                   7043 non-null   int64
 1   Country                                 7043 non-null   float64
 2   State                                   7043 non-null   float64
 3   City                                    7043 non-null   float64
 4   Gender                                  7043 non-null   int64
 5   Senior Citizen                          7043 non-null   int64
 6   Partner                                 7043 non-null   int64
 7   Dependents                              7043 non-null   int64
 8   Tenure Months                           7043 non-null   int64
 9   Phone Service                           7043 non-null   int64
 10  Paperless Billing                       7043 non-null   int64
 11  Monthly Charges                         7043 non-null   float64
 12  Total Charges                           7043 non-null   float64
 13  Churn Value                             7043 non-null   int64
 14  Churn Score                             7043 non-null   int64
 15  CLTV                                    7043 non-null   int64
 16  Multiple Lines_No phone service         7043 non-null   bool
 17  Multiple Lines_Yes                      7043 non-null   bool
 18  Internet Service_Fiber optic            7043 non-null   bool
 19  Internet Service_No                     7043 non-null   bool
 20  Payment Method_Credit card (automatic)  7043 non-null   bool
 21  Payment Method_Electronic check         7043 non-null   bool
 22  Payment Method_Mailed check             7043 non-null   bool
 23  Online Security_No internet service     7043 non-null   bool
 24  Online Security_Yes                     7043 non-null   bool
 25  Online Backup_No internet service       7043 non-null   bool
 26  Online Backup_Yes                       7043 non-null   bool
 27  Device Protection_No internet service   7043 non-null   bool
 28  Device Protection_Yes                   7043 non-null   bool
 29  Tech Support_No internet service        7043 non-null   bool
 30  Tech Support_Yes                        7043 non-null   bool
 31  Streaming TV_No internet service        7043 non-null   bool
 32  Streaming TV_Yes                        7043 non-null   bool
 33  Streaming Movies_No internet service    7043 non-null   bool
 34  Streaming Movies_Yes                    7043 non-null   bool
 35  Contract_One year                       7043 non-null   bool
 36  Contract_Two year                       7043 non-null   bool
dtypes: bool(21), float64(5), int64(11)
memory usage: 1.0 MB

In [45]:
corr_matrix = df.corr()

churn_corr = corr_matrix['Churn Value'].sort_values(ascending=False)

print(churn_corr)

Churn Value                               1.000000
Churn Score                               0.664897
Internet Service_Fiber optic              0.308020
Payment Method_Electronic check           0.301919
Monthly Charges                           0.193356
Paperless Billing                         0.191825
Senior Citizen                            0.150889
Streaming TV_Yes                          0.063228
Streaming Movies_Yes                      0.061382
Multiple Lines_Yes                        0.040102
City                                      0.018569
Phone Service                             0.011942
Gender                                   -0.008612
Multiple Lines_No phone service          -0.011942
Device Protection_Yes                    -0.066160
Online Backup_Yes                        -0.082255
Payment Method_Mailed check              -0.091683
CLTV                                     -0.127463
Payment Method_Credit card (automatic)   -0.134302
Partner                                  -0.150448
Tech Support_Yes                         -0.164674
Online Security_Yes                      -0.171226
Contract_One year                        -0.177820
Total Charges                            -0.199037
Internet Service_No                      -0.227890
Device Protection_No internet service    -0.227890
Streaming TV_No internet service         -0.227890
Tech Support_No internet service         -0.227890
Online Security_No internet service      -0.227890
Online Backup_No internet service        -0.227890
Streaming Movies_No internet service     -0.227890
Dependents                               -0.248542
Contract_Two year                        -0.302253
Tenure Months                            -0.352229
Count                                          NaN
Country                                        NaN
State                                          NaN
Name: Churn Value, dtype: float64

In [46]:
df = df.drop(columns=['Count', 'Country', 'Phone Service', 'State', 
                      'City', 'Senior Citizen', 'Gender'])

In [47]:
X = df.drop(columns=['Churn Value'])
y = df['Churn Value']

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [54]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [53]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

model = LogisticRegression(max_iter=1000)
model.fit(X_train_scaled, y_train)

y_pred = model.predict(X_test_scaled)
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[1432   93]
 [  91  497]]
              precision    recall  f1-score   support

           0       0.94      0.94      0.94      1525
           1       0.84      0.85      0.84       588

    accuracy                           0.91      2113
   macro avg       0.89      0.89      0.89      2113
weighted avg       0.91      0.91      0.91      2113